@model FilmTheater.Domain.DTO.AddToTicketCartDTO
@{
    ViewData["Title"] = "AddToCart";
}

<h1>Add Selected Film Ticket to User Ticket Cart:</h1>

<hr />

<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="AddToTicketCart" method="post">
            <input type="hidden" asp-for="FilmTicketId" />
            <div class="form-group">
                <label asp-for="SelectedFilmTicket.FilmName"></label>
                <input disabled asp-for="SelectedFilmTicket.FilmName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="TicketQuantity"></label>
                <input asp-for="TicketQuantity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>